.history {
	margin-top: 20px;
}
.history_card--outline {
	border: 1px solid #ff3860;
}
.history_card--outline:hover {
	cursor: pointer;
}
.history--results--wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	text-align: center;
	padding: 30px 0;
	border: 1px solid #ff3860;
	border-top: none;
}
.displayOptions {
	border: 1px solid #ff3860;
	display: flex;
	justify-content: space-evenly;
}

